@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;800&display=swap');

* {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    font-family: 'Nunito', sans-serif;
}

header {
    box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.25);
    padding: 15px 0;
    background-color:#FFBE51;
    height: 113px;
}

.container {
    width: 1000px;
    max-width: 100%;
    margin: 0 auto;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .container ul {
    list-style: none;
    padding: 0;
    display: flex;
    gap: 30px;
}

header ul li {
    display: inline-block;
    padding: 5px;
    font-size: 20px;
    font-weight: 800;
    line-height: 27px;
    text-transform: uppercase;
}

header ul li a {
    text-decoration: none;
    color: #FFFFFF;
}
.banner-principal {
    margin: 80px;
}

.banner-principal .container {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.banner-principal .container h1 {
    font-weight: 800;
    font-size: 35px;
    line-height: 55px;
    text-transform: uppercase;
    color:  #757575;
}

.servicos {
    padding: 50px 0;
    background-color: #E5E5E5;
}

.servicos .container {
    padding: 30px 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.servicos  h2 {
    font-size: 40px;
    line-height: 55px;
    color: #000000;
    font-weight: 400;
    text-align: center;
}

.servicos .container .img-servicos {
    width: 266px;
    height: 264px;
}

.servicos .container .img-servicos img {
    width: 100%;
}

.servicos .container .info p {
    font-weight: bold;
    font-size: 25px;
    color: #000000;
}

.servicos .container .info .price {
    font-size: 25px;
    color: #000000;
    font-weight: 400;
}

.banner {
    display: flex;
}

.banner .container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 80px;
    padding: 50px 0;
}


.banner .container .texto h2 {
    font-size: 22px;
    color: #757575;
    line-height: 37px;
}

.banner .container .texto p {
    font-weight: normal;
    font-size: 18px;
    color: #757575;
    line-height: 25px;
}

footer {
    background-color: #FFBE51;
}

footer .container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 50px 0;
    gap: 50px;
}

footer .container .info {
    font-size: 15px;
    line-height: 25px;  
}

footer .container .info a {
    text-decoration: none;
    color: #000000;
}

footer .container .mapa iframe {
    width: 500px;
    height: 250px;
    border: 3px solid #FFFFFF;
    margin: 0px 0px 0px 50px;
}

footer .copyright {
    background-color:  #C4C4C4;
    font-size: 18px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Página Serviços */

.principal-servicos h2 {
    font-size: 40px;
    line-height: 55px;
    color: #FFBE51;
    font-weight: 400;
    text-align: center;
}

.principal-servicos .container {
    display: flex;
    align-items:center;
    justify-content: center;
    flex-direction: column;
}

.principal-servicos .container article {
    display: flex;
    align-items: center;
    margin: 50px;
}

.principal-servicos .container article .info .conteudo {
    width: 80%;
    margin: 0 auto;
}

.principal-servicos .container article .info .conteudo .servico-e-preco {
    display: flex;
    align-items: center;
    gap: 40px;
}

.principal-servicos .container article .info .conteudo .descricao-e-botao {
    display: flex;
    flex-direction: column;
}

.principal-servicos .container article .info .conteudo .servico-e-preco h3 {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 30px;
    line-height: 55px;
}

.principal-servicos .container article .info .conteudo .servico-e-preco .price{
    font-size: 30px;
    line-height: 41px;
    font-style: normal;
    font-weight: normal
}

.principal-servicos .container article .info .conteudo p {
    font-size: 18px;
    line-height: 25px;
    color: #757575;
    text-align: justify;
}

.principal-servicos .container article .info .conteudo button {
  background-color: #FFC107;
  font-weight: 800;
  font-size: 16px;
  line-height: 22px;
  color: #FFFFFF;
  width: 245px;
  height: 32px;
  border: none;
  cursor: pointer;
  margin: 20px;
}

.principal-servicos .container .line  hr {
    width: 1000px;
    height: 5px;
    background: #C4C4C4;   
    border: none;
}










